<div class="posts-wrapper">
  <div class="post">
  <div class="post-head">
    <div class="post-title">
      <%= @post.title %>
    </div>
  </div>
  <div class="image center-block">
    <%= link_to (image_tag @post.image.url(:medium), class:'img-responsive'), post_path(@post) %>
  </div>
  <div class="post-bottom">
    <div class="caption">
      <div class="user-name">
        <%= @post.user.user_name %>
      </div>
      <%= @post.caption %>
      <% if @post.user.id == current_user.id %>
        <div class="text-center edit-links">
          <%= link_to "Cancel", posts_path %>
          <span class="bar">|</span>
          <%= link_to "Edit Post", edit_post_path(@post) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="comments">
  <h3>Comments</h3>
  <% @post.comments.each do |comment| %>
    <div class="comment well">
      <span class="comment_handle">
        <%= comment.user.user_name %> - 
      </span>
      <%= comment.body %>
      <p class="time-stamp">Posted <%= time_ago_in_words(comment.created_at) %> ago</p>
    </div>
  <% end %>
  <h4 class="text-center">Add a comment</h4>
  <br>
  <%= simple_form_for Comment.new, url: post_comments_path(@post) do |f| %>
    <%= f.input :body %>
    <br>
    <%= f.submit 'Add Comment', class: 'btn btn-success' %>
  <% end %>
</div>
<br>
<br>
