<div class="posts-wrapper">
  <div class="post">
  <div class="post-head">
    <div class="post-title">
      <%= @post.title %>
      <span class="author pull-right">
        Served by <%= @post.user.user_name %>
      </span>
    </div>
  </div>
  <div class="image center-block">
    <%= link_to (image_tag @post.image.url(:medium), class:'img-responsive'), post_path(@post) %>
  </div>
  <div class="post-bottom">
    <div class="caption">
      <%= @post.caption %>
      <% if @post.user.id == current_user.id %>
        <div class="text-center edit-links">
          <%= link_to "Cancel", posts_path %>
          <span class="bar">|</span>
          <%= link_to "Edit Post", edit_post_path(@post) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="comments">
  <h3>Comments</h3>
  <% @post.comments.each do |comment| %>
    <div class="comment well">
      <span class="comment_handle">
        <%= comment.user.user_name %> - 
      </span>
      <%= comment.body %>
      <p class="time-stamp pull-right">Posted <%= time_ago_in_words(comment.created_at) %> ago</p>
      <% if comment.user == current_user %>
        <%= link_to post_comment_path(@post, comment), method: :delete, data: { post_id: @post.id, confirm: "Are you sure?" }, remote: true, id: "delete-#{comment.id}", class: "delete-comment" do %>
          <span class="glyphicon glyphicon-trash delete-comment-icon" data-toggle="tooltip" title="delete comment">
          </span>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <h4 class="text-center">Add a comment</h4>
  <br>
  <%= simple_form_for Comment.new, url: post_comments_path(@post) do |f| %>
    <%= f.input :body %>
    <br>
    <%= f.submit 'Add Comment', class: 'btn btn-success' %>
  <% end %>
</div>
<br>
<br>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>