<div class="posts-wrapper">
  <div class="post">
  <div class="post-head">
    <div class="post-title">
      <%= @post.title %>
      <span class="author pull-right">
        Served by <%= @post.user.user_name %>
      </span>
    </div>
  </div>
  <div class="image center-block">
    <%= link_to (image_tag @post.image.url(:medium), class:'img-responsive'), post_path(@post) %>
  </div>
  <div class="post-bottom">
    <div class="caption">
      <%= @post.caption %>
      <% if @post.user.id == current_user.id %>
        <div class="text-center edit-links">
          <%= link_to "Cancel", posts_path %>
          <span class="bar">|</span>
          <%= link_to "Edit Post", edit_post_path(@post) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="comments" id="comments_<%= @post.id %>">
  <h3>Comments</h3>

  <% if @post.comments %>
    <%= render @post.comments, post: @post %>
  <% end %>

  <h4 class="text-center">Add a comment</h4>
  <br>
  <%= simple_form_for Comment.new, url: post_comments_path(@post) do |f| %>
    <%= f.input :body %>
    <br>
    <%= f.submit 'Add Comment', class: 'btn btn-success' %>
  <% end %>
</div>
<br>
<br>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>